{% extends 'base.html' %}
{% block main %}
Offer Accepted!

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Year</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Price</th>
        </tr>
            
        <tr>
            <td>{{offer.description}}</td>
            <td>{{offer.year}}</td>
            <td>{{offer.productType}}</td>
            <td>{{offer.brand}}</td>
            <td>{{offer.price}}</td>
            
        </tr>
</table>

<a href="{{ url_for('refresh_catalog') }}">
    <button type="button" class="button">Return to Catalog</button>
</a>
<a href="{{ url_for('signout') }}">
    <button type="button" class="button">Sign Out</button>
</a>
{% endblock %}